<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% @board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <p>
      <%= image_tag(@board.image_url(:thumbnail), :width => 80, :height => 80) %>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.label :remote_image_url, "base64 format" %>
      <%= f.text_field :remote_image_url, placeholder: "http://hogehoge..." %>
    </p>

    <p>
      <%= f.check_box :remove_image %> 画像削除
      <%= f.hidden_field :image_cache %>
    </p>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
